<a href="javascript:history.back()"><img src="<%= asset_path 'johyung.png' %>" width="100%" ></a>
<body style="background: url(/assets/redred.png) no-repeat fixed; responsive; background-size: cover;"  width="100%">
  
              <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'design.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">디자인학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>디학주점<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

             <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'doja.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">도자문화학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>도:틸다<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

  <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'gumgong.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">금속공예학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>할로윈<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

 <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'joye.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">조형예술학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>디스코<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>



<center>

</center>
<br><br><br><br><br>
</body>