<a href="javascript:history.back()"><img src="<%= asset_path 'ebadae.png' %>" width="100%" ></a>
<body style="background: url(/assets/redred.png) no-repeat fixed; responsive; background-size: cover;"  width="100%">


              <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'hwagong.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">화공생명공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>술기로운 생활<br><br>
                           
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

             <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'hwangyung.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">환경공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>어른이대공원<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

  <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'sickgong.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">식품공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>식공사우나<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

 <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'jeongmil.png' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">정밀화학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>동물의 왕국<br><br>
                           
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

 <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'sugwa.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">스포츠공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>닭치고 스과<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

<div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'angyung.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">안경광학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>가면무도회<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>




</body>