<a href="javascript:history.back()"><img src="<%= asset_path 'gigyung.png' %>" width="100%" ></a>
<body style="background: url(/assets/redred.png) no-repeat fixed; responsive; background-size: cover;"  width="100%">

              <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'gtm.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">GTM</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>경성타임즈<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

             <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'background.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">ITM</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong><br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

  <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'MSDE.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">MSDE</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>해적<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

  <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'sangong.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">산업정보시스템전공</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>웰컴 투 동막골<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>




</body>