<a href="javascript:history.back()"><img src="<%= asset_path 'gonggwa.png' %>" width="100%" /></a>
<body style="background: url(/assets/redred.png) no-repeat fixed; responsive; background-size: cover;"  width="100%">

              <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'background.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">기계시스템디자인공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong><br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

             <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'gigye.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">기계/자동차공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>응 답 하 라<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

  <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'anjun.PNG' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">안전공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>가면무도회<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

 <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'sinsojae.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">신소재공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>대추나무 이슬걸렸네<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

 <div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'background.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary">건설시스템공학과</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong><br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

<div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'background.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary"> 건축학부(건축공학전공)</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong><br><br>
                           
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>

<div class="col-md-3 col-sm-6">
                <div class="about_phone wow fadeInLeft animated animated" data-wow-duration="1s" data-wow-delay=".5s" style="margin-bottom: 10px; visibility: visible; animation-duration: 1s; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <div class="well" style="background-color: rgba(245, 245, 245, 0.4); border-color:transparent;">
                            <img width="260" height="290" src="<%= asset_path 'gunchuk.jpg' %>" class="img-rounded" class="img-responsive" />
                            <h2><span class="label label-primary"> 건축학부(건축학전공)</span></h3>
                            <h4 style="color:#090908">
                            <strong>컨셉 : </strong>주모를 찾아서<br><br>
                            
                            </h4>                     
                    </div>   
                </div>
            </div>
</div>




</body>